
body{
    background-color: rgba(128, 128, 128, 0.774);
    margin: 0;

    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;   
}
header{
    padding: 5px;
    background-color: rgb(255, 255, 255);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    justify-content: space-evenly;

    box-shadow: 1px 10px 10px 2px rgba(0, 0, 0, 0.671);
}

header h1{
    text-align: center;
}

header input{
    border: none;
    font-size: 15px;
    border-bottom: 2px solid rgb(0, 0, 0);
    text-align: center;
    padding: 5px;
    outline: none;
}

header button{
    border: none;
    padding: 10px;
    font-size: 15px;
    background-color: rgb(0, 0, 0) ;
    color: rgb(255, 255, 255);
    box-shadow: 1px 1px 1px 1px rgba(194, 194, 194, 0.671);
    margin: 5px;
}

    header button:hover {
        cursor: pointer;
        background-color: rgb(194, 194, 194) ;
        color: black;
    }

.placeParking{
    background-color: rgb(128, 128, 128);
    margin: 20px;
    width: auto;
    min-height: auto;
    display: grid;
    grid-template-columns: repeat(5,auto);
    gap: 10px;
    justify-content: space-evenly;
}
#name_zone{
    text-align: center;
}
.card-parking{
    padding: 1rem;
    margin: 1rem;
    font-size: 1.5rem;
    color: rgb(255, 255, 255);
    background-color: rgb(57, 58, 57);
    height: min-content;
    width: min-content;
    border-left: dashed rgb(255, 255, 0);
    border-right: dashed rgb(255, 255, 0);
    display: grid;
    justify-items: center;
}
.card-parking button{
    margin: 10px;
    padding: 10px;
    font-size: 20px;
    color: white;
    background-color: rgb(0, 0, 0);
    box-shadow: 1px 1px 1px 1px rgb(128, 128, 128);
    border: none;
    cursor: pointer;
}
    .card-parking button:hover  {       
        background-color: rgb(5, 90, 0);
    }

    .cardPago{
        width: 25rem;
        height: max-content;
        padding: 1rem;
        background-color: rgb(255, 255, 255);
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: grid;
        justify-items: center;
        box-shadow: 10px 5px 1px 1px rgba(0, 0, 0, 0.219);
    }

    .cardPago input{
        width: 12rem;
        height: 3rem;
        margin: 10px;
    }
    .cardPago button{
        margin: 1rem;
        width: 8rem;
        height: 3rem;
    }

footer{
    background-color: white;
    text-align: center;
    display: grid;
    justify-content: center;
    padding: 10px;
    margin-top: 10vh;

}

footer button{
    text-align: center;
    width: 30vh;
    background-color: black;
    color: white;
    border: none;
    padding: 5px;
    box-shadow: 10px 5px 1px 1px rgba(0, 0, 0, 0.219);
    cursor: pointer;
    font-size: 15px;
}

    footer button:hover{
        background-color: white;
        color: black;
    }